$violet-dark: #212353;
$white: #FFFFFF;
$dark-grey: #4B5D68;
$purple: #8A40EE;
$light-violet: #9C69E2;
$light-pink-bg: #FDE8F5;
$pink: #F063B8;
$dark-pink: #EB4BAB;
$dark-blue-fb: #3B5998;
$blue-tw: #00ACEE;
$pink-insta: #C13584;
$light-green-bg: #F0FAF9;
$blue-light-bg: #EAF6FC;
$pink-lt-small-bg: #FEF0F8;
$violet-lt-bg: #F6F0FD;

@import 'fonts';
@import 'hamburger';

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}
ul{
    list-style: none;   
}
img {
    vertical-align: top;
    width: 100%;
    // height: 100%;
    object-fit: cover;
}
a, button {
    transition: all .2s ease;
}
.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}
body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;   
}
h1, h2, h4,  //Styling font colors
 .logo-flex, .logo-txt, .demo-btn, .a-learn a,
  .name, .copy-rt,
 footer nav div, .foot-tel a, .social{
  color: $violet-dark;
 } 
 .txt, .testim-head{
  color: $dark-grey;
 }

// Styling  fonts h1,h2,h4, banner-p, .bank-p, .feat-p, .try-p
h1{
  font-family: 'Work Sans', sans-serif;
font-size: clamp(36px, 5.87vw, 80px);
font-style: normal;
font-weight: 700;
line-height: 110%;  /* 88px */
}
h2{
  font-family: 'Work Sans', sans-serif;
font-size: clamp(26px, 3.78vw, 40px);
font-style: normal;
font-weight: 700;
line-height: 130%;  /* 52px */
}
h4{
  font-family: 'Work Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 31.2px */
}
.banner-p, .bank-p,
 .feat-p, .try-p{
  font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 28.8px */
 }

//Side-menu=for mobile
.open-mobile-menu{
  .page-overlay{
    opacity: 1;
    visibility: visible;
  }
  .menu-panel{
    transform: translateX(0);
  }
}
.page-overlay{
  position:fixed;
  left:0;
  top: 0;  
width: 100vw;
height: 100vh;
background-color: rgba(#000, 0.7);
z-index: 1000;
opacity: 0;
visibility: hidden;
transition: all .4s ease;
}
.menu-panel{
  position:fixed;
  left:0;
  top: 0;  
width: 350px;
height: 100vh;
background-color: #fff;
box-shadow: 0 0 20px 20px #DEB8FF;
z-index: 1001;
transform: translateX(-120%);
transition: all .4s ease;
.panel-top{
  height: 40px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: darken(lightgreen, 10%);
  ;
}
nav{
  overflow-y: auto;
  height: calc(100vh - 40px);
}
}
.mobile-menu{
  a{
    display: inline-block;
    width: 100%;
    font-size: 1.2 rem;
    padding: 10px 20px;
    text-decoration: none;
    color: $violet-dark;
    background-color: #DEB8FF;
    &:focus{
      background-color: lightgreen;
    }
    &:active{
      background-color: darkgreen;
    }
  }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    background-color: rgba(#fff, 0.7);
    backdrop-filter: blur(4px);
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 37px 0;        
       }
}

.flex-head{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
   .img-wrap{
    width: 45px;
    height: 35px;
   }
   .hamburger{  //hide for perform- show for mobile
    display: none;
   }
}
//Styling header navigation li
.nav-txt{
    display: flex;
     text-align: center;       
     justify-content: center;     
     gap: 40px;   
     padding: 4px 0;
     > li {
      position: relative;
      > a{
        display: inline-block;
        text-decoration: none;
        color: $dark-grey;
        &:hover{
          text-decoration: none;
     color: $purple;
     cursor: pointer;
        }
        &:focus{
          color: $purple;
          text-decoration: underline;  
        }
        &:active{
          color: $dark-blue-fb;
          text-decoration: underline;
      }     
      }   
     }
 }   //end of nav-txt

 .flex-head a, .foot-nav a {
    color: $dark-grey;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 160%;    
}
.foot-nav a{
    text-decoration: none;
    &:hover{
        color: $purple;
    }
    &:focus{
      color: $purple;
      text-decoration: underline;  
    }
    &:active{
      color: $dark-blue-fb;
      text-decoration: underline;
  }     
}
//Styling demo button and a-learn 
.demo-btn, .a-learn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.demo-btn, .a-learn a,
 .name, .testim-p{
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 25.6px */
letter-spacing: 0.08px;
}

.a-learn a{
  font-weight: 700;
  text-decoration: none;
}
.demo-btn, .testim-item{
  border: 1px solid #9C69E2;
  border-radius: 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
}
.demo-btn{
   min-width: 200px;  
    font-weight: 500;
    padding: 16px 22px;
   
    .img-wrap{
        position: right 23px top 16px;
      width: 20px;
      height: 14px;
    }
    .white{
        display: none;
    }    
    &:hover{
        color: $white;
        background-color: #9C69E2;
        .purple{
            display: none;
        }
        .white{
            display: block;
    animation: arrow .5s linear 1 normal;
    }
    @keyframes arrow {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(100%); 
        }
        100%{
            transform: translateX(0);
        }
    } //end of key frames
    } //end of hover
    &:focus{
      color: $white;
      background-color: $dark-blue-fb;
      .purple{
        display: none;
    }
    .white{
        display: block;
         }
  }
    &:active{
      color: $white;
      background-color: $violet-dark;
      .purple{
        display: none;
    }
    .white{
        display: block;
      }
  }
}  //end of demo btn

//Styling main: banner and so on
.banner{
  padding-top: 110px;
  margin-bottom: 100px;
    h1{
      width: max(52%, 400px);
      position: relative;
      left: 0;
      top: 90px;
      z-index: 5;
    }
    .banner-flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
    .img-wrap{
      aspect-ratio: 770/407;
width: 62%; 
align-self: stretch; 
img{
  height: 100%;
}
  } 
}
 .txt-block{
    width: 34%;
    padding: 142px 8px 35px 0;
 }
  .banner-p{
      margin-bottom: 50px;
    }
  }      


.learn-btn{
  min-width: 200px;
}
.learn{
  min-width: 200px;
      padding: 16px 22px;
   border-radius: 50px; 
   border: 1px solid $light-violet;
   color: $white;  
   background-color: $light-violet;
   box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
   &:hover{
    background-color: $purple;
   }
   &:focus{
    background-color: $dark-blue-fb;
  }
  &:active{
    background-color: $violet-dark;
}
   font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 160%;
}


.bank {
  .container{
    background-color: $light-pink-bg;
    border-radius: 50px;
    padding: 75px 40px 75px 83px;
  }
  .bank-flex{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .img-wrap{
        width: 39%;
        aspect-ratio: 40/41;
        align-self: stretch;
      }
    }
  .txt-block{
        width: 49%;
  }   
  h2{
    font-size: clamp(26px, 3.78vw, 40px);
     padding: 33px 0 12px 0;
    margin-bottom: 26px;
    }      
 .bank-p{
          padding: 0 0 35px;
        }  
  
   margin-bottom: 112px;
}

.features{
  h2{
    text-align: center;
    margin-bottom: 45px;
    margin-left: 32px;
  }
  .feat-p{
    text-align: center;
    padding: 0 230px;
    margin-left: 31px;
    margin-bottom: 80px;
  }
  margin-bottom: 118px;
}

//Styling grid container
.grid-cont{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: space-between;
align-content: start;
row-gap: 50px;
}
.card{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  .card-content{
    width: max(100%, 230px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 60px 65px 63px 102px;
  }
}
.card-content{
  .txt{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
  }
}
.a-learn{  
  .img-wrap img{
   vertical-align: middle;
    width: 20px;
      height: 14px;
      margin-left: 13px;
  }
  a{
  &:hover{
    text-decoration: underline $violet-dark;  
    .img-wrap img{
      animation: arrow .5s linear 1 normal;
    }
    @keyframes arrow {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(100%); 
        }
        100%{
            transform: translateX(0);
        }
    }
  }
  &:focus{
    color: $dark-blue-fb;
    text-decoration: underline;  
  }
  &:active{
    color: darken($dark-blue-fb, 10%);
    text-decoration: underline;
  }  
}
}

.data-img-wrap, .access-img-wrap,
.print-img-wrap, .code-img-wrap{  
    width: 40%;
    position: absolute;
    aspect-ratio: 23/18;
    z-index: 5;
   }
   .data-img-wrap{   
    top: 110px;
    left: 0;
   }
   .code-img-wrap{    
    top: 109px;
    left: 0;
   }
   .access-img-wrap{   
    top: 111px;
    left: 0;
    img{
      height: 100%;
    }
   }
   .print-img-wrap{
        top: 110px;
    left: 0;
    img{
      height: 100%;
    }
   }

   .card{
    .txt-item{
    height:400px;
    width: 400px;    
    border-radius: 50px;    
    background-repeat: no-repeat;
    }
   }
.data{   
  .txt-item{
    background-color: $light-green-bg;
    background-image: url(../images/bg-search.svg);
    background-position: top 20px right 50px;
  }
}
.access{   
  .txt-item{
    background-color: $violet-lt-bg;
    background-image: url(../images/bg-access-big.png);
    background-position: bottom 20px right 20px;
  }
}
.print{   
  .txt-item{
    background-color: $pink-lt-small-bg;
    background-image: url(../images/bg-print.png);
    background-position: top 20px right 20px;
  }
}
.code{  
  .txt-item{
    background-color: $blue-light-bg;
    background-image: url(../images/bg-code-big.png), url(../images/bg-code-sm.png);
    background-position:  top 27px left 34px, bottom 20px right 20px;  
  }
}

//Testimonials
.testimonials{
  .container{
  padding: 75px 70px;
  border-radius: 50px;
  background-color: #CCDDFF;
  background-image: url(../images/testim-uni.svg), url(../images/testim-double.svg);
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 122px; 
}
h2{
  text-align: center;
  margin-bottom: 73px;
  margin-left: 22px;
}
}
.testim-p{
  font-weight: 400;
  letter-spacing: -0.07px;
}
.testim-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 66px;
 
}
.testim-item{
  height: 300px;   
  width: min(100%, 465px);
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 51px 12px 47px 33px;  
}

.person {
  width: 90px;
      aspect-ratio: 1;
}
.person img{            
  border-radius: 50%;      
}

.name{
  margin-bottom: 0;
}
.email{
  margin-bottom: 19px;
}

.email {
  a{
  text-decoration: none;
  color: $light-violet;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 160%; /* 22.4px */
letter-spacing: 0.14px;
&:hover{
text-decoration: underline;
}
&:focus{
  color: $purple;
  text-decoration: underline;  
}
&:active{
  color: $dark-blue-fb;
  text-decoration: underline;
}     
  }
}

.try-free{
  margin-bottom: 99px;
}
.try-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 99px;
  h2{
    margin-bottom: 17px;
  }
}
.try-buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
 .learn{
  background-color: $pink;
  &:hover{
    background-color: $dark-pink;
  }
  &:focus{
    background-color: $pink-insta;
  }
  &:active{
    background-color: #8F3C6B;
}
}
}

//Styling footer as flex and social
.foot-flex{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 88px;
}
.logo-flex{
  display: flex;
  justify-content: start;
  gap: 23px;
  margin-bottom: 56px;
}
.logo-info{
  width: 268px;
}
.logo-txt, .foot-mail, .foot-tel a, .copy-rt{
  color: $violet-dark;
  font-family: 'Montserrat', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: 0.16px;
}
.logo-txt{
  font-weight: 500;
  margin-bottom: 10px;
}

.logo-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
font-weight: 600;
line-height: 160%;  //32px
}

.foot-mail a, .foot-tel a{
  text-decoration: none;
  &:hover{ 
    color: $violet-dark;
    text-decoration: underline;
  }
  &:focus{
    text-decoration: underline;
    background-color: $light-pink-bg;
  }
  &:active{
    background-color: $pink-insta;
}       
 }
  .foot-mail{
margin-bottom: 11px;
}

.foot-nav-n-soc-flex{
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 56%;  
  ul li{
    margin-bottom: 10px;
  }
}

.about, .help, .social-title{
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 0;
  margin-bottom: 33px;
}

.social ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
    a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #D2D2D7;
    &:hover{     
      background-color: $white;      
      &.fb{
        border: 1px solid $dark-blue-fb;
        svg path{
          fill: $dark-blue-fb;
        }
      }
      &.twit{
        border: 1px solid $blue-tw;
        svg path{
          fill: $blue-tw;
        }
      }
      &.insta{
        border: 1px solid $pink-insta;
        svg path{
          fill: $pink-insta;
        }
      }         
       
    }
    &:focus{
      border: 1px solid $dark-grey;
      background-color: $light-pink-bg;
    }
    &:active{
      background-color: $light-green-bg;
  }    
  }
}
.fb .white{
  width: 10px;
  height: 21px;
}
.twit .white{
  width: 18px;
  height: 15px;
}
.insta .white{
  width: 16px;
  height: 16px;
}

.copy-rt{
    font-size: 12px;
font-weight: 300;
letter-spacing: 0.12px;
width: min(100%, 275px);
text-align: start;
  margin-bottom: 120px;
}

@media screen and (max-width: 1100px){
  .banner{
    img{
      object-fit: contain;
    }
   } 

   .features{
    h2{
      margin-left: 0;
    }
  .feat-p{
    padding: 0;
    margin-left: 0;
  }
}
.bank .txt-block {
  width: 52%;
}
.testim-grid{
  gap: 40px;
}
.card{
  .card-content{
    padding: 60px 12px 63px 124px;
  }
}
}

@media screen and (max-width: 1024px){
 
  .card{
    width: 100%;
      flex-direction: column;
    align-items: center;
    justify-content: end;
    .card-content{
      justify-content: center;
      align-items: center;
      padding: 151px 10px 24px 10px;
      .a-learn{
       a{
        font-size: 1.5rem;
        font-weight: 500;
      }
      .img-wrap img{
               width: 25px;
           height: 16px;          
       }
    }
  }
  .card-content{
    h4{
      font-weight: 700;
    }
  }
  .data-img-wrap, .access-img-wrap,
  .print-img-wrap, .code-img-wrap{
    width: 37%;  
      position: absolute;
      top: 12px;
      left: 140px;
     }
    }
  
    .testim-item{
      height: 340px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 12px 47px 12px;  
    }
.pers-info{
  text-align: center;
}
.email {
  a{
font-size: 16px;
  }
}

.copy-rt{
  text-align: center;
  width: 100%;
}
 }

 @media screen and (max-width: 940px){
  .flex-head{
      flex-grow: 0; 
      gap: 50px;
    }
    .banner{
      padding-top: 50px;
      }
    .banner .txt-block {
      width: 50%;
      padding: 142px 0px 35px 0;
    }
    .bank .txt-block {
      width: 57%;
    }
    .bank h2 {
        padding: 19px 0 12px;
    }
    .card .txt-item {
      height: 400px;
      width: min(100%, 320px);
    }
    .testimonials{
      .container{
      padding: 75px 36px;
      }
    }
    .testim-grid{
      gap: 27px;
    }
    .try-flex {
      display: flex;
      justify-content: space-around;
      h2{
        text-align: center;
      }
    }
    .try-buttons {
      flex-direction: column;
      justify-content: center;
    }
    .learn {
      padding: 12px 16px;
      }
 .demo-btn{
  padding: 12px 16px;
}
.banner, .bank, .features,
 .testimonials .container, .try-free{
  margin-bottom: 70px;
}

}

@media screen and (max-width: 900px){
  .bank .container {
    padding: 45px 40px 45px 40px;
  }
  .foot-flex{
    flex-direction: column-reverse;
    margin-bottom: 50px;
    row-gap: 30px;
  }
  .logo-flex {
    justify-content: center;
    margin-bottom: 28px;
  }
  .logo-info {
    width: 100%;
    text-align: center;
}
.foot-nav-n-soc-flex {
  justify-content: space-around;
  width: 100%;
}

.about, .help, .social-title{
  text-align: center;
}
.social ul{
  width: 100%;
}
.foot-nav a{
  text-align: center;
  font-size: 18px;
  }
  .card{
  .data-img-wrap, .access-img-wrap,
  .print-img-wrap, .code-img-wrap{
    width: 37%;  
    position: absolute;
    top: 12px;   
    left: 127px;
     }
    }
}

@media screen and (max-width: 766px){
.bank, .features,
.try-free{
  margin-bottom: 50px;
 }
  .flex-head{
      gap: 100px;
       .nav-txt{      
          display: none;
         }
         .hamburger{  
          display: block;
         }
   }
   .banner .txt-block {
    width: 50%;
    padding: 120px 0 0;
  }
  .banner .banner-flex{
    margin-bottom: 70px;
  }
  .features{
    h2{
      margin-bottom: 35px;
    }
    .feat-p{
      margin-bottom: 30px;
    }
  }
  
    .grid-cont{
          grid-template-columns: 1fr;
        }
        .card{
          flex-direction: row;
          justify-content: flex-end;
        }
    .card{
     .data-img-wrap, .access-img-wrap,
    .print-img-wrap, .code-img-wrap{  
            top: 110px;
            left: 0;
           }
      }
      .card .txt-item {
        height: 400px;
        width: 100%;
      }
      .card .card-content {       
        justify-content: center;
        align-items: center;
        padding: 50px 12px 24px 266px;
      }
      .txt{
        font-size: 22px;
      }


 .testimonials .container {
        padding: 40px 36px;
 }      
.testimonials h2 {
        margin-bottom: 40px;
        margin-left: 0;
      }
.testim-grid{
  grid-template-columns: 1fr;
  gap: 35px;
}
.testim-item {
  height: 400px;
  width: 100%;
  padding: 20px 12px 21px;
}
.person {
  width: 136px;
  aspect-ratio: 1;
}
.name, .email a{
  font-size: 20px;
}
.try-flex {
  justify-content: space-between;
  h2{
    text-align: start;
  }
    .txt{
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 665px){
  .flex-head{
      gap: 74px;
  }
  .banner {
    padding-top: 110px;
    h1 {
    width: max(100%, 400px);
    text-align: center;
    top: 0;
    margin-bottom: 20px;
    }
  }
  .banner .banner-flex {
    .img-wrap{
      width: 100%;
    }
    .learn-btn{
      text-align: center;
    }
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px; 
  } 
  .banner .txt-block {
    width: 100%;
    padding: 16px 6px;
  }

  .bank .container {
    padding: 0;
  }
  .bank .bank-flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-wrap{
      align-self: center;
    }
   h2 {
      padding: 0;
      text-align: center;
   }
    .bank-p{
      width: 100%;
      padding: 10px 5px;
    }
    .txt-block {
      width: 100%;
      padding: 10px 5px;
    }
  }
  .card .card-content {       
    justify-content: center;
    align-items: center;
    padding: 50px 12px 24px 189px;
  }

  .person {
    width: 90px;
    aspect-ratio: 1;
  }
  .try-flex{
    flex-direction: column;
    gap: 20px;
    h2 {
      text-align: center;
    }
     margin-bottom: 64px;
   }
   .foot-nav-n-soc-flex {
    width: 100%;
  flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
  .social ul {
     width: 100%;
    justify-content: center;
    gap: 31px;
}
}

@media screen and (max-width: 500px){
  header .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner{
    padding-top: 130px;
  }
.banner h1{
  padding: 0 30px;
  font-size: 36px;

}
.features{
  .txt{
    font-size: 19px;
  }
}
.card{
  width: 100%;
    flex-direction: column;
  align-items: center;
  justify-content: end;
  .card-content{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 151px 10px 24px 10px;
    .a-learn{
     a{
      font-size: 1.5rem;
      font-weight: 500;
    }
    .img-wrap img{
             width: 25px;
         height: 16px;          
     }
  }
}
.card-content{
  h4{
    font-weight: 700;
  }
}
.data-img-wrap, .access-img-wrap,
.print-img-wrap, .code-img-wrap{
  width: 37%;  
    position: absolute;
    top: 12px;
    left: 105px;
   }
  }

}

@media screen and (max-width: 400px){

  .banner .txt-block {
    text-align: center;
  }
  .bank .bank-flex .bank-p{

    text-align: center;
  }

  .testimonials .container {
    padding: 30px 5px;
  }
  .testim-item{
    .txt{
      font-size: 20px;
    }
  }
  .try-p{
    text-align: center;
  }
}

    
   