:root {
  --black: #2F281E;
  --orange: #F90;
  --white: #FFF;
  --brown-black: #544837;
  --grey: #BCD0E5;
  /* --main-font: ; */
 }
   
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     /* box-shadow: inset 001px 1px red; */
 }
 .container {
     width: min(90%, 1200px);
     margin: 0 auto;
 }
 
 header {
     height: 80px;
 }
 
 .flex-head {
     display: flex;
     justify-content:center;
     gap: 198px;
     margin: 17px 0;
     font-family: 'Segoe UI', Tahoma,
      Geneva, Verdana, sans-serif;
  }

 /*---Styling header li navigation*/
  .flex-head ul {
    display: flex;
     list-style: none;
     font-size: 0;
     text-align: center;       
     justify-content: center;
     gap: 20px;
      
        
 }
 .nav-txt {
    display: flex;
    padding: 8px 0;
         
 }
 .flex-head ul li {
     font-size: 16px;
     
 }
 .flex-head ul li a {   
     text-decoration: none;
     color: var(--black);
  
 }
 .flex-head ul li a:hover {
     text-decoration: none;
     color: var(--orange);
     cursor: pointer;
 }
  .item {
    width: 25%;
  }   
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
   
  }
  .nav-buttons .sign-in, .sign-up {
    width: 110px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px; 
    transition: all .2s ease;    
} 
  .sign-in {
    border: 1px solid #BCD0E5;
    color: var(--black);
    background-color: var(--white);    
  }
  
  .sign-in:hover {
    border: 1px solid #BCD0E5;   
    background-color: #BCD0E5;     
  }
  .sign-up {
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
  }  
  .sign-up:hover {
    color: var(--orange);
    background-color: var(--white);
    border: 1px solid var(--orange);     
  }   
 
  /*--Banner block--*/
  .banner-block {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 56px;
    padding-top: 87px;
    padding-bottom: 99px;
  }
  .txt-get-start {
    width: 41.6%; /*-?*/
    padding: 97px 0;
  }
  h1 {
    margin-bottom: 30px;
    color: var(--black);
font-size: 44px;
font-weight: 700;
  }
  p {
    color: var(--brown-black);
font-size: 18px;
font-weight: 400;
margin-bottom: 20px;
  }
  .get-start {   
    font-family: 'Poppins', sans-serif;
    font-size: 16px;   
    font-weight: 700;    
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 4px;
    text-align: center;
    width: 180px;
    height: 50px;
    padding: 13px 40px;    
    transition: all .2s ease;    
  }
  .get-start:hover {   
     color: var(--orange);
    background-color: var(--white);
    border: 1px solid var(--orange);   
  }
  
  /*--Section Tools--*/  
  .tools {
    padding-bottom: 74px;
  }
  .tools h2 {
    width: 539px;    
    color: var(--black);
font-family: sans-serif;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
margin: 0 317px 50px;
padding: 0 9px;
  }
  .tests {
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .tools ul {
    list-style: none; 
  }
  .tools ul li{
   width: 270px; 
  }
  .tools {
    background-image: url('../images/bg-full-big.png');
    background-size: 2211px;
    background-repeat: no-repeat; 
    background-position: bottom;
    /* background: linear-gradient(180deg, rgba(255, 229, 210, 0.63) 0.33%, rgba(255, 244, 229, 0.00) 99.67%); */
  }
  .pic-item {
    display: flex;
        width: 50px;
        aspect-ratio: 1;
        /* height: 50px; */
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;    
  }
  .arrow {
    border-radius: 15px;
background: #7752BE;
  }
  .wave {
    border-radius: 15px;
    background: #FAB005;
  }
  .heart {
    border-radius: 15px;
    background-color: #F03E3D; 
  }
  .sand-clock {
    border-radius: 15px;
    background-color: #4DADF7; 
  }
  .pic-item img {
    display: flex; /*Sasha insists on 
    flex necessary here, but it works without it too*/
    width: 18px;
    /* aspect-ratio: 1; - I removed,
     bo icons get fat with asp-ratio*/
    /* height: 18px; */
    justify-content: center; /*these 2 properties won't work without display:flex*/
    align-self: center;       
  }
  .tests {
    margin-bottom: 70px;
  }
    .sub-title {
      color: #2F281E;
font-size: 22px;
font-weight: 600;
line-height: normal;
    margin-bottom: 16px;
  }
  .txt {
    color: var(--brown-black);
font-size: 16px;
font-weight: 500;
line-height: 26px;
  }
/*--Styling 2 same buttons Sign up Now--*/
.sign-now {
  width: 180px;
  padding: 13px 39px;
  text-align: center;
  border: 1px solid var(--orange);
  border-radius: 4px;
  color: var(--white);
background: var(--orange);
font-size: 16px;
font-weight: 700;
line-height: normal;
transition: all .2s ease;
}
.sign-now:hover {
  border: 1px solid var(--orange);
color: var(--orange);
background: var(--white);
}
.tools button {
  margin: 0 510px;
}


  /*--Footer--*/
  .foot-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
  }
  footer nav div {
    color: var(--black);
    font-size: 20px;
font-weight: 700;
line-height: 30px;
margin-bottom: 30px; 
  }
  footer ul{
    list-style: none;
    font-size: 0;
  }
  footer ul li{
    color: var(--brown-black);
    font-size: 16px;
font-weight: 500;
line-height: 26px;
margin-top: 15px;
  }
  a {
    text-decoration: none;
    color: var(--brown-black);
  }
  a:hover {
    color: var(--orange);
  }
  .form-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .form-el div {
    color: var(--black);  
font-size: 20px;
font-weight: 700;
line-height: 30px; 
  }
.form-row input {
   width: 340px;
    border: 1px solid var(--grey);
    color: var(--grey);
font-size: 16px;
font-weight: 400;
padding: 15px 18px 15px 10px;
}



     